@import '_Desktop.sass'
@import '_Mobile.sass'

*
    font-family: monospace;

body
    color: #FFF;
    background-color: #1F1F1F;

div
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    border-left: 5px solid red;
    padding-left: 20px;
    h2
        font-weight: normal;

footer
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 5px;
    font-size: smaller;