@import '_Desktop.sass'
@import '_Mobile.sass'

*
    font-family: monospace;

body
    color: #FFF;
    background-color: #1F1F1F;

div
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 760px;
    border: 2px solid #666;
    padding: 20px;
    border-left-color: #F00;
    h1
        border-bottom: 3px solid #666;
        padding-bottom: 5px;
        margin-top: 5px;
    h2
        font-weight: normal;
    section
        p
            font-size: small;
            text-align: justify;
    #info
        margin-bottom: 5px;
        border-top: 3px solid #666;
        padding-top: 5px;
        text-align: center;

footer
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 5px;
    font-size: xx-small;
a
    text-decoration: none;
    color: #999;
    font-size: smaller;
a:hover
    color: #FFF;

@keyframes swing
    15%
        transform: translate(calc(-50% + 5px), -50%);
    30%
        transform: translate(calc(-50% - 5px), -50%);
    50%
        transform: translate(calc(-50% + 3px), -50%);
        border-left-style: none;
    65%
        transform: translate(calc(-50% - 3px), -50%);
    80%
        transform: translate(calc(-50% + 2px), -50%);
    100%
        transform: translate(-50%, -50%);
        border-left-style: solid;

@keyframes flicker
    50%
        border-left-style: none;
    100%
        border-left-style: solid;

.swing
    animation: swing 1s ease;
    animation-iteration-count: 1;

.flicker
    animation: flicker 0.3s linear;
    animation-iteration-count: 2;