RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_URI} [^\/].* [NC]
RewriteCond %{REQUEST_URI} !\.(sass|css|map)$ [NC]
# Let's Encrypt
RewriteCond %{REMOTE_ADDR} !^66\.133\.109\.36
RewriteRule ^.+$ / [L,R=301]